/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 4, ../../app/assets/stylesheets/welcome.sass */
body {
  width: 1024px;
  margin: 20px auto;
  border: 1px solid;
}

/* line 8, ../../app/assets/stylesheets/welcome.sass */
.align-center {
  text-align: center;
}

/* line 10, ../../app/assets/stylesheets/welcome.sass */
#navigation {
  padding: 10px 0 10px 0;
  background-color: blue;
  color: white;
  font-weight: bold;
}

/* line 15, ../../app/assets/stylesheets/welcome.sass */
form {
  padding: 20px 0 0 0;
}
